 <div class="page-body">
 <div id="portfolio-singlee" class="section-innere">
          <div class="wrapper clearfix">

<div class="page-header">
  <h1><%=t ".title", default: "Sign in" %></h1>
</div>


<%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: "form-horizontal form-user"}) do |f| %>

  
     <h5> Username </h5>
    <div class="col-md-8">
      <%= f.text_field :login, class: "text-field form-control", html: {spellcheck: "false"} %>
    </div>
  <h5> Password </h5>
    <div class="col-md-8">
      <%= f.password_field :password, class: "text-field form-control", html: {autocomplete: "off"} %>
    </div>

                                                                                                                                        
  <% if devise_mapping.rememberable? -%>
   
      <br>
      <div class="col-md-8">
        Remember Me <%= f.check_box :remember_me %>
      </div>
    
  <% end -%>
                          <br><br>                                                                                                              
  <div class="form-group">
    <div class="col-md-offset-4 col-md-8">
      <%= f.submit "Login", class: "btn btn-primary" %>
    </div>
  </div>
<br><br>
  
    <div class="col-md-offset-4 col-md-8">
      <%= render "devise/shared/links" %>
    </div>
  </div></div></div></div><br>

<% end %>
